@import '../../../styles.variables.scss';
@import '../../../styles.mixins.scss';

#article {
    width: 100%;

    max-width: 50rem;
    margin: 3rem auto;
    padding-bottom: 4rem;
    color: $white;

    border-bottom: 1px solid transparentize($color: $text, $amount: 0.7);
}

#article-title {
    font-size: 2.8rem;
}

.article-author-date-minutes {
    @include flexRowSpaceBetween();
    margin: 0.8rem 0;
    padding-top: 2rem;
    border-top: 1px solid transparentize($color: $text, $amount: 0.7);
    
    p {
        line-height: normal;
        letter-spacing: normal;
    }

    .article-author-date {
        display: flex;
        align-items: center;

        height: 2.4rem;

        .article-author-image {
            height: 2.3rem;
            border-radius: 100px;
            margin-right: 0.8rem;
        }

        .article-author-name-date {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;

            .article-author-name {
                font-weight: bold;
                font-size: 0.9rem;
                color: #fff;
            }
        }
        
        
    }

    .article-date,
    .article-minutes {
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .article-date {
        color: $red;
    }

    .article-minutes {
        color: $blue;

        i {
            color: $white;
        }
    }
}

.article-tags-framework {
    @include flex(row, space-between, center);
    padding: 0.4rem 0;

    img {
        display: block;
        width: 24px;
        border-radius: 100rem;
        transition: transform 150ms ease-out;
        
        &:hover {
            transform: scale(1.2);
        }
    }
}

.article-tags {
    display: flex;

    a {
        padding: 0.1rem 0.35rem;
        margin-right: 0.6rem;
        
        color: #a5a7aa; // #627385
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;

        background-color: $primary;
        border: 1px solid lighten($color: $primary, $amount: 20%);
        border-radius: 3px;
        cursor: default;
        
        transition: color 150ms ease-out;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}


.article-field {
    margin: 1.6rem 0;
}

.article-heading {
    h1 {
        margin-top: 2.2rem;
    }

    .subheading {
        font-size: 1.7rem;
    }
}

.article-paragraph {
    p {
        // font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.1rem;
        // line-height: 1.8rem;
        // letter-spacing: 0.4px;

        margin: 0 auto;
        color: $text;
    }
}

.article-quote-container {
    position: relative;
    padding: 0rem 1.4rem;
    border-left: 1px solid $white;
    
    .article-quote {
        color: $white;
        font-size: 1.25rem;
        // font-style: italic;
    }

    .article-quote-source {
        margin-top: 0.6rem;
        color: $text;
        // margin-left: 2rem;
        &::before {
            content: "━ ";
        }
    }
}

.article-image {
    img {
        display: block;
        max-width: 45rem;

        width: 100%;
        margin: 2rem auto 0.8rem auto;

        border-radius: 6px;
        box-shadow: 0 0 10px 0 $dark-primary;

        // background-color: #1a1a1a;
        // background-image: url("");
        // background-attachment: fixed;
        // background-size: cover;
    }

}
.content-caption {
    color: $text;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    // color: darken($color: $text, $amount: 10%);
    a {
        // color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

.article-wall {
    img {
        max-width: 100%;
    }
}

.article-list {
    padding-left: 2rem;
    
    font-size: 1.05rem;
    line-height: 1.8rem;
    color: $text;

    li {
        margin: 0.8rem 0;
    }
}

.article-code-container {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    padding: 2.5rem 0.7rem 0.6rem 0.7rem;
    background-color: #282c34;
    border-radius: 6px;
    box-shadow: 0 0 14px 0 darken($color: #282c34, $amount: 14%);

    pre {
        border-radius: 5px;
        // box-shadow: 1 0 5px 0 $primary;
        padding-bottom: 1rem;
    }

    &:hover {
        .copy-button {
            opacity: 1;
        }
    }

    .mac {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 3.1rem;

        .red {
            width: 0.75rem;
            height: 0.75rem;
            background-color: #ff5f56;
            // filter: drop-shadow(0 0 2px darken(#282c34, 4%));
            border-radius: 100px;
            &:hover {
                transform: scale(1.1);
            }
        }
        .yellow {
            width: 0.75rem;
            height: 0.75rem;
            background-color: #ffc62e;
            // filter: drop-shadow(0 0 2px darken(#282c34, 4%));
            border-radius: 100px;
            &:hover {
                transform: scale(1.1);
            }
        }
        .green {
            width: 0.75rem;
            height: 0.75rem;
            background-color: #27c93f;
            // filter: drop-shadow(0 0 2px darken(#282c34, 4%));
            border-radius: 100px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    
    * {
        font-family: Consolas, monospace;

        &::-webkit-scrollbar {
            height: 0.2rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparentize($color: $white, $amount: 0.1);
            border: 3px solid transparent;
        }
    }

    .copy-button {
        position: absolute;
        top: 0.7rem;
        right: 0.5rem;

        padding: 0.2rem 0.6rem;
        
        color: #9aa3af;
        font-size: 0.9rem;
        font-family: Consolas, monospace;
        
        background-color: lighten($color: #282c34, $amount: 8%);
        border-radius: 100px;
        
        opacity: 0.0;
        cursor: pointer;

        transition: opacity 200ms ease-out;

        &:hover {
            color: $white;
        }
        &:active {
            background-color: $white;
            color: $dark-primary;
        }
    }
}


.youtube-embed {
    a {
        display: block;
        width: 70%;
        margin: 0 auto;
        position: relative;

        &:hover {
            .youtube-video {
                transform: scale(1.015);
            }
        }

        .youtube-logo {
            position: absolute;
            height: 8rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .youtube-video {
            width: 100%;
            border-radius: 6px;

            background-size: cover;
            background-position: center;
            transition: transform 200ms ease-out;
        }
    }
}

#article-index {
    position: fixed;
    height: 100%;
    top: 5rem;
    left: 2%;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    color: transparentize($color: #8394aa, $amount: 0.3);
    // border-left: 2px solid transparentize($color: $text, $amount: 0.5);
    opacity: 0.0;
    
    pointer-events: none;
    transition: opacity 200ms ease-out;

    .article-index-item {
        margin-left: 0.2rem;
        mask-image: linear-gradient(90deg, #000, #000, #00000000);
        cursor: pointer;
        transform: translateX(0px);
        transition: transform 200ms ease-out;

        &:hover {
            color: $white;
            transform: translateX(5px);
        }
        .article-index-heading,
        .article-index-subheading {
            margin: 1rem 0;
            p {
                padding-left: 0.5rem;
                border-left: 2px solid transparent;
                transition: border-left 200ms ease-out, color 200ms ease-out;
            }

            .visible {
                color: $white;
                border-left: 2px solid $white;
            }
        }

        .article-index-heading {
            font-weight: bold;
        }

        .article-index-subheading {
            margin: 0.6rem 1.5rem;
        }
    }
}

#read-more {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    
    .section-title {
        padding-left: 0;
        font-size: 2.5rem;
    }
}



@media only screen and (max-width: 1350px) {
    #article-index {
        top: 4rem;
        left: 0.5%;
        font-size: 0.8rem;
    }
}


@media only screen and (max-width: 1285px) {
    #article-index {
        display: none;
    }
}

@media only screen and (max-width: 730px) {
    .youtube-embed {
        a {
            width: 90%;
        }
    }

    section {
        padding-top: 0;

        .section-title {
            display: block;
            text-align: center;
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 490px) {
    #article-title {
        font-size: 2.2rem;
    }

    #article {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .youtube-embed {
        a {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .article-paragraph {
        p {
            font-size: 1rem;
        }
    }
}