<app-loading-screen [loading]="pageLoading" *ngIf="showPageLoading"></app-loading-screen>
<div [ngClass]="{'container': showName}" *ngIf="!pageLoading && article else elseblock">
    <div id="article" *ngIf="article">
        <h1 id="article-title" *ngIf="showName" #h1tags>{{ articleName | titlecase }}</h1>
        <div class="article-author-date-minutes">
            <div class="article-author-date">
                <img alt="Author Rishik C. Mourya" class="article-author-image" src="../../../assets/me.jpg">
                <div class="article-author-name-date">
                    <p class="article-author-name">Rishik C. Mourya</p>
                    <p class="article-date">{{ articleDate | date }}</p>
                </div>
            </div>
            <p class="article-minutes"><i class="fas fa-clock"></i> {{ articleMinutes }} MIN READ</p>
        </div>
        <div class="article-tags-framework">
            <div class="article-tags">
                <a *ngFor="let tag of articleTags">{{ tag }}</a>
            </div>
            <div class="article-framework" *ngIf="articleFramework.length !== 0 && articleFramework !=='none'">
                <img alt="Framework used" [src]="articleFramework">
            </div>
        </div>
        <div *ngFor="let field of article; index as index">
            <div class="article-field" [ngSwitch]="field.type" *ngIf="index > 2">
                <div class="youtube-embed" *ngSwitchCase="'embed'">
                    <a [href]="field.data.source" target="_blank" rel="noopener">
                        <img class="youtube-logo" src="../../../assets/youtube-logo.png" alt="YouTube Video">
                        <img class="youtube-video" alt="Youtube video for this project" [src]="getYouTubeThumbnail(field.data.source)">
                        <p class="content-caption" [innerHTML]="getSource(field.data.caption)"></p>
                    </a>
                </div>
                <div class="article-heading" *ngSwitchCase="'header'" [id]="headingID(field.data.text)">
                    <h1 [innerHTML]="field.data.text" [ngClass]="{'subheading': field.data.level === 2}"></h1>
                </div>
                <div
                    [ngClass]="{
                        'article-paragraph': !field.data.text.includes('.webp'),
                        'article-image': field.data.text.includes('.webp'),
                        'article-wall': index === 3
                    }"
                    *ngSwitchCase="'paragraph'">
                    <img [src]="field.data.text" alt="Article image" *ngIf="field.data.text.includes('.webp') else showText">
                    <ng-template #showText>
                        <p [innerHTML]="cleanParagraph(field.data.text)"></p>
                    </ng-template>
                </div>
                <div class="article-image" [ngClass]="{'article-wall': index === 3}" *ngSwitchCase="'image'">
                    <img [src]="field.data.url" alt="Article image">
                    <p class="content-caption" [innerHTML]="getSource(field.data.caption)"></p>
                </div>
                <div class="article-quote-container" *ngSwitchCase="'quote'">
                    <p class="article-quote" [innerHTML]="cleanParagraph(field.data.text)"></p>
                    <p class="article-quote-source" [innerHTML]="getSource(field.data.caption)"></p>
                </div>
                <div class="article-list" *ngSwitchCase="'list'">
                    <ul *ngIf="field.data.style === 'unordered'">
                        <li *ngFor="let item of field.data.items" [innerHTML]="item"></li>
                    </ul>
                    <ol *ngIf="field.data.style === 'ordered'">
                        <li *ngFor="let item of field.data.items" [innerHTML]="item"></li>
                    </ol>
                </div>
                <div class="article-code-container" *ngSwitchCase="'blockCode'">
                    <div class="mac">
                        <div class="red"></div>
                        <div class="yellow"></div>
                        <div class="green"></div>
                    </div>
                    <textarea highlight-js [options]="{}" [lang]="'python'" [innerHTML]="field.data.code"></textarea>
                    <div class="copy-button" (click)="copyCode(field.data.code, $event.target)">Copy</div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div id="article-index" #articleindex>
        <h2>Content</h2>
        <div *ngFor="let field of article; index as index">
            <div class="article-index-item" *ngIf="field.type === 'header'" (click)="scrollToHeading(headingID(field.data.text))">
                <div [ngClass]="{'article-index-heading': field.data.level === 1, 'article-index-subheading': field.data.level === 2}">
                    <!-- <i class="fas fa-minus" *ngIf="field.data.level === 1"></i> -->
                    <p style="display: inline;" [ngClass]="{'visible': isVisible(headingID(field.data.text))}" [innerHTML]="field.data.text.length > 20 ? field.data.text.slice(0, 19) + '...' : field.data.text.slice(0, 24)"></p>
                </div>
            </div>
        </div>
    </div>

    <section id="read-more" *ngIf="articles">
        <h2 class="section-title" id="read-more-title">{{ readMore }}</h2>
    
        <div class="article-cards">
            <app-article-card
                [wall]="article.wall"
                [tags]="article.tags"
                [framework]="article.framework"
                [title]="article.title"
                [description]="article.description"
                [date]="article.date"
                [minutes]="article.minutes"
                [routerHrefLink]="showPageLoading ? getArticleLink(article.title) : getProjectLink(article.title)"
                *ngFor="let article of articles">
            </app-article-card>
        </div>
    </section>
</div>

<ng-template #elseblock>
    <div class="container" *ngIf="articles else show404">
        <h1 class="container-title">
            <i class="fas fa-pen-alt"></i>Articles Written
        </h1>
        <br>
        
        <div *ngIf="articles.length > 0">
            <div class="article-cards">
                <app-article-card
                [wall]="article.wall"
                [tags]="article.tags"
                [framework]="article.framework"
                [title]="article.title"
                [description]="article.description"
                [date]="article.date"
                [minutes]="article.minutes"
                [routerHrefLink]="getArticleLink(article.title)"
                *ngFor="let article of articles">
                </app-article-card>
            </div>
        </div>
    </div>
    <ng-template #show404>
        <app-page-not-found></app-page-not-found>
    </ng-template>
</ng-template>