@import '../../../styles.variables.scss';

footer {
    margin-top: 2rem;
    height: 16rem;
    width: 100%;
    box-shadow: 0 0 35px 0 lighten($color: $dark-primary, $amount: 7%);
    background-color: $dark-primary;
}