@media only screen and (max-width: 1160px) {
    footer {
        #footer-container {
            #footer-info {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    footer {
        #footer-container {
            width: 88%;
        }
    }
}

@media only screen and (max-width: 875px) {
    footer {
        margin-top: 5rem;

        #footer-container {
            flex-direction: column;
            align-items: center;

            #footer-info {
                margin: 0 0 3rem 0;
                padding: 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;

                #profile {
                    #me {
                        justify-content: center;
                    }

                    #do {
                        text-align: center;
                    }
                }

                #follow {
                    i {
                        margin: 1rem;
                    }
                }

                // #subscription-form {
                //     app-loading-button {
                //         position: absolute;
                //         // width: 100%;
                //         text-align: center;
                //     }
                // }
            }

            #contact-form {
                h1 {
                    text-align: center;
                }

                app-loading-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 670px) {            
    footer {
        #quote {
            blockquote {
                font-size: 1.4rem;

                &:before,            
                &:after {
                    font-size: 3rem;
                }
            }
        }
    
        #copyright {
            font-size: 0.9rem;
            padding-bottom: 1.8rem;
        }
    }
}

@media only screen and (max-width: 570px) {
    footer {
        #footer-container {
            width: 85%;
            #footer-info {
                #subscription-form {
                    width: 100%;
                }
            }

        }
    }
}


@media only screen and (max-width: 560px) {
    footer {
        #quote {
            blockquote {
                font-size: 1.3rem;
            }

        }
        #copyright {
            font-size: 0.8rem;
        }
    }
}
@media only screen and (max-width: 520px) {
    footer {
        #quote {
            blockquote {
                padding: 1rem 0rem;

                &:before {
                    font-size: 4rem;
                    left: -3rem;
                    top: -1.8rem;
                }
                
                &:after {
                    font-size: 4rem;
                    right: -2rem;
                    bottom: -1.6rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    #do {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 400px) {
    footer {
        #quote {
            blockquote {
                font-size: 1.2rem;
                &:before {
                    left: -2.5rem;
                }
            }
        }
    }
}