// @import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import '../../../styles.variables.scss';

footer {
    position: relative;

    width: 100%;
    padding: 4rem 0 3rem 0;
    margin-top: 7rem;

    color: $white;

    // box-shadow: 0 0 10px 0 lighten($color: $dark-primary, $amount: 10%);
    // background-color: transparentize($color: $dark-primary, $amount: 1.0);

    border-top: 1px solid transparentize($color: $text, $amount: 0.7);
    background: linear-gradient(0deg, #00000000, $dark-primary);
    background-color: $dark-primary;

    #footer-container {
        display: flex;
        justify-content: space-between;
        
        width: 85%;
        max-width: 75rem;    
        
        margin: 0 auto;

        #footer-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            position: relative;
            max-width: 32rem;

            margin-right: 2rem;
            
            #profile {
                margin-bottom: 0.5rem;
                
                #me {
                    display: flex;
                    align-items: center;

                    margin-bottom: 1rem;
    
                    img {
                        height: 5rem;
                        width: 5rem;
                        margin-right: 1.2rem;
    
                        border-radius: 100px;
                    }
                }

                #do {
                    font-size: 0.9rem;
                    color: $blue;
                }
    
            }
            
            p {
                // line-height: 1.5rem;
                // letter-spacing: 0.3px;
                color: $text;
            }

            #follow {
                display: flex;
                align-items: center;
                margin-top: 0.9rem;

                i {
                    color: darken($color: $white, $amount: 15%);
                    font-size: 1.5rem;
                    margin-right: 1.5rem;
                    filter: drop-shadow(0px 0px 0px #cccccc);
                    
                    transition: color 200ms ease-out, filter 100ms ease-out;

                    &:hover {
                        color: #fff;
                        filter: drop-shadow(0px 0px 4px #cccccc);
                    }
                }
            }

            #subscription-form {
                width: 80%;
                app-loading-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }

        #contact-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            max-width: 30rem;
        }
    }

    #quote-copyright {
        margin-top: 3rem;
        text-align: center;
    }

    #quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 80%;
        // max-width: 75rem;
        
        padding-top: 4rem;
        margin: 2rem auto;

        border-top: 1px solid transparentize($color: $text, $amount: 0.7);
        
        * {
            font-family: 'Special Elite', cursive;
        }

        blockquote {
            font-weight: 100;
            font-size: 1.5rem;
            max-width: 500px;
            line-height: 1.4;
            position: relative;
            margin: 0;
            padding: 1rem 2rem;
            
            &:before,
            &:after {
                position: absolute;
                color: #f1efe6;
                font-size: 6rem;
                width: 4rem;
                height: 4rem;
            }
            
            &:before {
                content: '“';
                left: -2.5rem;
                top: -1rem;
            }
            
            &:after {
                content: '”';
                right: -2rem;
                bottom: 0rem;
            }
        }
        

        cite {
            margin: 0.8rem 0;
        }

    }

    #copyright {
        margin-top: 2rem;
        color: $text;
        font-size: 0.8rem;
        // color: lighten($color: $dark-primary, $amount: 40%);
    }


}

@import './footer.component.mediaquery.scss';