<app-loading-screen [loading]="pageLoading"></app-loading-screen>

<div id="wall">
    <!-- <h1>Laymanize-ing<br>Intelligence</h1> -->
</div>

<section *ngIf="articles">
    <h2 class="section-title">
        <i class="fas fa-pen-alt"></i>
        <span>Recent Articles</span>
    </h2>    

    <div id="latest" *ngIf="articles.length > 1">
        <app-article-card 
            [wall]="article.wall"
            [tags]="article.tags"
            [framework]="article.framework"
            [title]="article.title"
            [description]="article.description"
            [date]="article.date"
            [minutes]="article.minutes"
            [latest]="true"
            [reverse]="index % 2 !== 0"
            [routerLink]="getArticleLink(article.title)"
            *ngFor="let article of articles; let index = index">
        </app-article-card>
    </div>
    <div class="section-read-more">
        <button routerLink="/articles" class="round-button">
            Explore more articles
            <span><i class="fas fa-long-arrow-alt-right"></i></span>
        </button>
    </div>
</section>


<section *ngIf="projectArticles">
    <h2 class="section-title">
        <i class="fas fa-project-diagram"></i>
        <span>Recent Projects</span>
    </h2>

    <div id="latest" *ngIf="projectArticles.length > 1">
        <app-article-card 
            [wall]="projectArticle.wall"
            [tags]="projectArticle.tags"
            [framework]="projectArticle.framework"
            [title]="projectArticle.title"
            [description]="projectArticle.description"
            [date]="projectArticle.date"
            [minutes]="projectArticle.minutes"
            [latest]="true"
            [reverse]="index % 2 !== 0"
            [routerLink]="getProjectLink(projectArticle.title)"
            *ngFor="let projectArticle of projectArticles; let index = index">
        </app-article-card>
    </div>

    <!-- <div class="article-cards">
        <app-article-card 
            [wall]="projectArticle.wall"
            [tags]="projectArticle.tags"
            [framework]="projectArticle.framework"
            [title]="projectArticle.title"
            [description]="projectArticle.description"
            [date]="projectArticle.date"
            [minutes]="projectArticle.minutes"
            [routerLink]="getProjectLink(projectArticle.title)"
            *ngFor="let projectArticle of projectArticles | slice:2">
        </app-article-card>
    </div> -->

    <div class="section-read-more">
        <button routerLink="/projects" class="round-button">
            Explore more projects
            <span><i class="fas fa-long-arrow-alt-right"></i></span>
        </button>
    </div>
</section>
<!-- <br><br><br><br> -->