@import '../../../styles.variables.scss';
@import '../../../styles.mixins.scss';

.article-card {
    margin: 0 0.8rem 2.8rem 0.8rem;
    cursor: pointer;
    z-index: 1;

    &:hover {
        .article-card-wall {
            opacity: 1;
            transform: scale(0.975);
        }

        .article-card-title {
            h1 {
                border-bottom: 1px solid transparentize($color: $text, $amount: 0.7);
            }
        }
    }

    .article-card-tags-framework {
        @include flex(row, space-between, center);
        padding: 0.5rem 0;
        z-index: 3;

        img {
            display: block;
            width: 24px;
            border-radius: 100rem;
            // opacity: 0.75;
            transition: transform 150ms ease-out;
            
            &:hover {
                // opacity: 1;
                transform: scale(1.2);
            }
        }
    }
    .article-card-tags {
        display: flex;
        // margin: 0.6rem 0;

        a {
            padding: 0.1rem 0.35rem;
            margin-right: 0.6rem;
            
            color: #a5a7aa; // #627385
            font-size: 0.7rem;
            font-weight: 700;
            text-transform: uppercase;

            background-color: $primary;
            border: 1px solid lighten($color: $primary, $amount: 20%);
            border-radius: 3px;
            cursor: default;
            
            transition: color 150ms ease-out;

            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .article-card-wall {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 $dark-primary;
        opacity: 0.9;
        transform: scale(1.0);

        transition: all 250ms ease-out;
    }

    .article-card-title {
        // margin-bottom: 1rem;
        
        h1 {
            color: $white;
            font-size: 2rem;
            padding-bottom: 0.6rem;
            border-bottom: 1px solid transparent;
            transition: all 250ms ease-out;
        }
    }

    .article-card-description {
        color: $text;
        font-size: 0.9rem;
        // line-height: 1.5rem;
        // letter-spacing: 0.3px;
    }

    .article-card-author-date-minutes {
        @include flexRowSpaceBetween();
        margin: 0.8rem 0;
        p {
            line-height: normal;
            letter-spacing: normal;
        }

        .article-card-author-date {
            display: flex;
            align-items: center;

            height: 2.4rem;

            .article-card-author-image {
                height: 2.3rem;
                border-radius: 100px;
                margin-right: 0.8rem;
            }

            .article-card-author-name-date {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 100%;
                font-weight: 600;

                .article-card-author-name {
                    font-size: 0.9rem;
                    color: #fff;
                }
            }
            
            
        }

        .article-card-date,
        .article-card-minutes {
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        .article-card-date {
            color: $red;
        }

        .article-card-minutes {
            color: $blue;
        }
    }
}

.latest-article {
    @include flexRowSpaceBetween();

    .latest-article-right {
        padding-left: 2rem;
    }

    .article-card-wall {
        width: 45%;
    }

    .article-card-tags {
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.reverse-row {
    flex-direction: row-reverse;
    
    .latest-article-right {
        padding: 0 2rem 0 0;
    }
}

@media only screen and (max-width: 673px) {
    .article-card {
        margin: 0 0 2.8rem 0;
    }

    .latest-article,
    .latest-article:nth-child(2) {
        flex-direction: column;

        .article-card-wall {
            width: 100%;
        }

        .latest-article-right {
            padding: 0;
        }

        .article-card-tags {
            margin: 0.6rem 0;
        }
    }

    #latest {
        margin-bottom: 0rem;
    }

    .article-card {
        .article-card-title {
            margin-top: 1rem;
        }

        .article-card-title {
            h1 {
                font-size: 1.6rem;
            }
        }
    }
}