<a [routerLink]="routerHrefLink" class="article-card" [ngClass]="{'latest-article': latest, 'reverse-row': reverse}" #infoElement>
    <img alt="Article Image" class="article-card-wall" [src]="wall" [alt]="'Wallpaper for ' + (title | titlecase)">
    <div class="info" [ngClass]="{'latest-article-right': latest}">
        <div class="article-card-title">
            <h1 href="#">{{ title | titlecase }}</h1>
        </div>
        <div class="article-card-tags-framework">
            <div class="article-card-tags">
                <a *ngFor="let tag of tags">{{ tag }}</a>
            </div>
            <div class="article-card-framework" *ngIf="framework_image.length !== 0">
                <img alt="Framework used" [src]="framework_image" *ngIf="framework !== 'none'">
            </div>
        </div>
        <p class="article-card-description text-spacing" [innerHTML]="description"></p>
        <div class="article-card-author-date-minutes">
            <div class="article-card-author-date">
                <img alt="Author Rishik C. Mourya" class="article-card-author-image" src="../../../assets/me.jpg">
                <div class="article-card-author-name-date">
                    <p class="article-card-author-name">Rishik C. Mourya</p>
                    <p class="article-card-date">{{ date | date }}</p>
                </div>
            </div>
            <p class="article-card-minutes">{{ minutes }} MIN READ</p>
        </div>
    </div>
</a>