button,
.upload-button {
    padding: 0.6rem 1.35rem;
    
    font-size: 1.1rem;
    font-weight: bold;
    
    background-color: $white;
    color: $dark-primary;

    outline: none;
    border: 2px solid white;
    border-radius: 7px;

    cursor: pointer;
    transition: all 200ms ease-out;

    i {
        margin-left: 0.5rem;
    }

    &:disabled {
        // pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover,
    &:active {
        transform: translateY(-4px);
    }
}

.disabled {
    pointer-events: none;
    // cursor: not-allowed;
    opacity: 0.4;
}

// .filled-button {
// }

.round-button {
    border-radius: 100px;
}

.upload-button {
    display: block;
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    padding: 1rem 2rem;   
    font-size: 1rem;
}

@media only screen and (max-width: 650px) {
    button {
        padding: 0.6rem 1.1rem;
    }
}