// @media only screen and (max-width: 1260px) {
//     .container {
//         padding: 5rem;
//     }
// }

@media only screen and (max-width: 850px) {
    .container {
        .container-title {
            padding: 1.5rem 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .container {
        width: 100%;
        padding: 3rem 1.5rem;

        .container-title {
            font-size: 2rem;
        }
    }

    form {
        padding: 1rem 0;
    }
}