@mixin flexRowSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowSpaceEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexColumnSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex($direction: row, $content: center, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}